* {
  font-family: Lato;
  --hero-color: #f14123;
}

.headline {
  height: 25px;
  color: #fff;
  background-color: #3e3e3e;
}

.headline .container > div {
  width: 300px;
}

.headline span {
  padding: 0 12px;
  font-size: 14px;
}

.navigation {
  box-shadow: 1px 0px 5px #888888;
}

main .hero {
  min-height: calc(100vh - 93px);
  background-image: url(/assests/img/photo-1560439514-4e9645039924.avif);
  background-size: cover;
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
}

main .hero .hero-overlay {
  width: 100%;
  opacity: 0.8;
  min-height: calc(100vh - 93px);
  background: white;
}

main .hero .title {
  font-size: 7rem;
  color: var(--hero-color);
  font-weight: bolder;
}

main .hero .subtitle {
  font-size: 3rem;
  color: var(--hero-color);
  font-weight: bold;
}

main .hero .description {
  font-size: 1rem;
}

main .hero .date {
  font-size: 2rem;
  font-weight: bolder;
}

main .programes {
  background-color: var(--bs-gray-dark);
}

main .programes h2 {
  font-size: 1.5rem;
}

main .programes h3 {
  font-size: 0.9rem;
  line-height: 0.9rem;
  text-decoration: underline;
}

main .programes h3.card-title {
  font-size: 1rem;
  text-decoration: none;
}

main .programes hr,
main .speakers hr {
  width: 70px;
  border-width: 2px;
  border-color: var(--hero-color);
  opacity: 0.6;
}

main .programes .program-wrapper .program {
  max-width: 16rem;
  border-radius: unset;
  background-color: var(--bs-gray-700);
  margin-right: 0.2rem;
}

main .programes .program-wrapper .program .fa-solid {
  font-size: 3rem;
}

main .programes .program-wrapper .program .card-title {
  color: var(--hero-color);
  font-weight: bolder;
}

main .speakers .speaker-wrapper .speaker span {
  font-style: italic;
  display: block;
  margin-bottom: 1rem;
  color: var(--hero-color);
}

main .speakers .speaker-wrapper .speaker .card-title{
  font-weight: bolder;
}

main .speakers .speaker-wrapper .speaker .image-wrap {
  max-width: 150px;
}
